<%= form_for @catalogue do |f| %>
  <table>
    <tr>
      <td><b>Atividade:</b></td>
      <td><%= f.text_area :activity, value: @catalogue.activity, style: 'height: 100px' %></td>
    </tr>
    <tr>
      <td><b>Papel:</b></td>
      <td><%= f.text_area :role, value: @catalogue.role, style: 'height: 100px' %></td>
    </tr>
    <tr>
      <td><b>HST:</b></td>
      <td><%= f.text_field :hst, value: @catalogue.hst %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit 'Gravar' %></td>
    </tr>
  </table>
<% end %>
