<h1>Catalogo de serviços</h1>
<%= link_to 'Novo', new_catalogue_path, class: 'icon icon-add' %>

<table class="list">
  <tr style="font-weight: bold">
    <td width="20"></td>
    <td width="20"></td>
    <td width="300">Atividade</td>
    <td width="250">Papel</td>
    <td width="50">HST</td>
  </tr>
  <% @catalogues.each do |c| %>
    <tr>
        <td>
          <%= link_to 'Apagar', c, method: :delete, data: { confirm: 'Certeza?' } %>      
        </td>
        <td>
          <%= link_to 'Editar', edit_catalogue_path(c.id)%>
        </td>
        <td><%= c.role %></td>
        <td><%= c.activity %></td>
        <td><%= c.hst %></td>
    </tr>
  <% end %>
</table>